#block-content ul, 
#block-content ol, 
#block-content li {
	/*list-style: square inside none;*/
}

#block-content ul {
	margin: -12px 0px 0px 12px;
}

#block-content h1 {
    color: #A4CF62;
    text-align: right;
    font: 25px/27px 'Oswald',Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
	background: url("http://snn.foxbrightdemo.com/themes/kent-news/./images/separator2.png") repeat-x scroll 0 100% transparent;
    margin: 0 -3px 15px 0;
    overflow: hidden;
    padding: 0 0 12px;
	width: 100%
}

#block-content h2 {
	color: #4D4D4F;
    font: bold 31px/33px 'Open Sans Condensed',Arial,Helvetica,sans-serif;
    margin: 0 0 9px;
    text-transform: uppercase;
}

#block-content h3 {
    color: #4D4D4F;
    font: 17px/19px 'Oswald',Arial,Helvetica,sans-serif;
    margin: 15px 0 6px;
    text-transform: uppercase;
}

#block-content p,
#block-content strong {
	margin-bottom: 16px;
}	


