/* Entry Form*/


/*  Keeps reporters from seeing these fields  */
.sem-form .admin-only {
	display: none;
}

.sem-form .Instructions {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}

.sem-label,
.sem-legend {
	display: inline;
	margin: 0px 20px 0px 0px;
	padding: 0px;
	font-weight: bold;
}

.sem-field-container {
	margin: 0px 0px 25px 0px;
}

.sem-button, 
.sem-submit {
	font-size: 22px;
	height: 30px;
}

.sem-button {
		color: #666666;
}


.sem-form .sem-submit {
	float: right;
	color: blue;
	margin-top: -64px;
}

.slide_file {
	margin: 0px;
}
/* Entry Form*/


/* Data display */
.article-info {
	margin: 10px 0px;
	border-bottom: 1px solid #cccccc;
	clear: both;
}

.article-info:last-child {
	border: none;
}

.article-info .name {
	width: 50%;
	float: left;
}

.article-info .photo img {
	width: 120px;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;

	}
	
.article-info .district {
	width: 50%;
}

.article-info .title {
	display: block;
	width: 100%;
	font-size: 18px;
	
}

.administration-details {
	border: 1px solid #cccccc;
}

.news-article .title {
	font-size: 30px;
	padding-bottom: 20px;
}

.news-article .photo {
	width: 400px;
	float: left;
	padding-right: 15px;
}


/* Home page sections*/

.news-main-headline .photo {
	height: 300px;
	overflow: hidden;
}

.news-main-headline  .title {
	font-size: 30px;
	margin: 10px 0px 15px 0px;
	line-height: 25px;
	}

.news-main-headline .Author ,
.news-headlines .Author {
	color: #0088CC;
}

.news-headlines {
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

.news-headlines:last-child {
	border-bottom: none;
}

.news-headlines .title {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	
}
	
.news-headlines .summary{
	height: 70px;
	overflow: hidden;
	margin-bottom: 15px;
	
}

.regional-headline {
	padding-bottom: 7px;
}

/* Data display */


/*Login form */
#content .ccm-ui .span10 {
	width: 650px;
}

/*  Administrative Preview page */
.Approved-Article {
    display: none;
}

.approve-answer-link,
.edit-answer-link,
.preview-link {
	float: right;
	padding: 0 10px;
}




