@media print {
   #UNITEAdContainer,
   #sidebar,
   #footer,
   #nav,
   #print-button,
   #social-call,
   #newsletter,
   .heading,
   .comments-block,
   .upper-social-media,
   #header{
       display: none;
    }
    
    #content {
        width: 100%;
        padding: 0;
    }
    
    
    
    
}

